LABEL existing
TEXT HELP
Boot an existing operating system.
Press TAB to edit the disk and partition number to boot.
ENDTEXT
MENU LABEL Mevcut isletim sistemini baslat
COM32 chain.c32
APPEND hd0 0

# https://www.memtest.org/
LABEL memtest
MENU LABEL Bellek testi (Memtest86+)
LINUX /boot/memtest86+/memtest

# https://wiki.syslinux.org/wiki/index.php/Hdt_(Hardware_Detection_Tool)
LABEL hdt
MENU LABEL Donanim Bilgisi (HDT)
COM32 hdt.c32
APPEND modules_alias=hdt/modalias.gz pciids=hdt/pciids.gz

LABEL reboot
TEXT HELP
Reboot computer.
The computer's firmware must support APM.
ENDTEXT
MENU LABEL Yeniden Baslat
COM32 reboot.c32

LABEL poweroff
TEXT HELP
Power off computer.
The computer's firmware must support APM.
ENDTEXT
MENU LABEL Bilgisayari Kapat
COM32 poweroff.c32
