LABEL arch
TEXT HELP
Yerinde ANKA kurulum ortamini BIOS ile baslatir.
Yerinde ANKA kurmani veya sistem onarmanizi saglar.
ENDTEXT
MENU LABEL Yerinde ANKA kurulum ortami (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=4G

# Accessibility boot option
LABEL archspeech
TEXT HELP
Yerinde ANKA kurulum ortamini BIOS ile sesli okuma destegiyle baslatir.
Ekran okuyucu yardimiyla Yerinde ANKA kurmanizi veya sistem onarmanizi saglar.
ENDTEXT
MENU LABEL Yerinde ANKA kurulum ortami (%ARCH%, BIOS) ^sesli okuma ile
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=4G accessibility=on
