[Desktop Entry]
Name=Yerinde
Comment=Yerinde ANKA varsayılan duvar kağıdı
X-KDE-PluginInfo-Name=Yerinde
X-KDE-PluginInfo-Author=Yerinde Project
X-KDE-PluginInfo-License=GPL
