[Desktop Entry]
Type=Application
Name=YERINDE Asistanı Kur (Tıkla-Çalıştır)
Exec=/usr/local/bin/yerinde-asistan-kur
Terminal=true
Icon=yerinde
Categories=Utility;
